.table {
  width: 680px;
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
}

th,
td {
  width: 33%;
  padding: 4px;
  font-size: 18px;
  border: 1px solid #070707;
}

td {
  color: #070707;
}

.tableHeader {
  background: #2a2a2a;
  color: #fff;
}

td:first-child {
  padding-left: 60px;
  text-transform: capitalize;
  text-align: left;
}
